/*Script file part of FinGraphic copyright Peter van der Meulen and Pico Reclame 2013. Planning on using the contents of my work? contact me at www.github.com/amonfog*/


/*Basic Elements*/
html, body {
	margin: 0;
	padding: 0;
}

img {
	border: 0;
}

.cleardiv {
	clear:both;
}
