/*Script file part of FinGraphic copyright Peter van der Meulen and Pico Reclame 2013. Planning on using the contents of my work? contact me at www.github.com/amonfog*/

/*Basic Elements*/

.main-container {
	/*margin-top: 90px;*/
	height:100%;

}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: 'Montserrat', sans-serif;
	font-size: 10pt;
}

.cleardiv {
	clear:both;
}

.block {
	float:left;
}

.main-container {
	width:100%;
	margin: 80px 0 0 0;
}

.mainheader-container {
	width:100%;
}

.content-container {
	width: 960px;
	margin: 0 auto;
}

.main-content-container {
	margin: 0 auto 0 auto;
	padding: 20px 0 0 0;
	width: 960px;
}

.relative-container {
	position: relative;
}

.relative-maincontent {
	width: 960px;
	margin: auto;
	height: 100%
}

.main-absolute	{
	top: 0px;
	position: absolute;
	z-index: 999;
	height: 100%
}

.fixed-container {
	position: fixed;
	z-index: 1000;
}

/*header*/
.header-container {
	height:40px;
	background: #2ecc71;
	top:0;
}

.header-logo {
	padding: 2.5px 0 ;
}

.header-nav {
	margin: 0 0  0 290px;
	color: #FFF;
	font-family: 'Montserrat', sans-serif;
	font-size: 10pt;
	font-weight: bold;

}

.header-nav a {
	color: #FFF;
	text-decoration: none;
}

.header-nav a:hover {
	color: #DDD;
}

.nav-active a:hover {
	color: #FFF;
}

.header-nav ul {
	padding: 0;
	margin: 0;
	list-style-type:none; 
}

.header-nav ul li {
	float:left;
	text-align: center;
	width: 80px;
	margin:0 20px;
	padding: 12px 0;
	height: 16px;
}

.nav-active {
	background: url(../images/header/nav-active.png) top repeat-x #27AE60;
}

.header-search {
	float: right;
	margin: 10px 0;
}

.header-search-text {
	width: 150px;
	height: 20px;
	border: 0;
	padding: 0 5px;
	background: #FFF;
	font-size: 10pt;
	font-family: 'Montserrat', sans-serif;
	color:#27AE60;
	font-weight: bold;

}

.header-search-submit {
	width: 20px;
	height: 20px;
	border: 0;
	padding: 0;
	background: url(../images/header/search-bar-01.png) no-repeat right;
	cursor: pointer;

}

input:focus {
	outline: 0;
}

.overzicht-sub-header {
	background: #27AE60;
	height: 30px;
	top:40px;
	color: #FFF;
	font-family: 'Montserrat', sans-serif;
	font-size: 10pt;
}


.overzicht-sub-header ul {
	list-style-type: none; /*to remove bullets*/
    text-align:justify;
}

.overzicht-sub-header ul li {
	display:inline-block;
	padding:9px 5px;
}

.overzicht-sub-header ul:after { 
	content:' '; 
	display:inline-block; 
	width: 100%;
}

.subnav-active {
	background: #FFF;
	color: #27AE60;
}

.overzicht-sub-header a {
	color: #FFF;
	text-decoration: none;
}

.overzicht-sub-header a:hover {
	color: #DDD;
}

.subnav-active .nav-inkomsten-a {
	color: #27AE60;
}

.subnav-active .nav-consumenten-a {
	color: #D35400;
}

.subnav-active .nav-consumenten-a {
	color: #D35400;
}

.subnav-active .nav-bezuinigingen-a {
	color: #2980B9;
}

.subnav-active .nav-bevolking-a {
	color: #C0392B;
}

.subnav-active .nav-financieel-a {
	color: #F39C12;
}

/*the graphic blocks*/

.graphic-block {
	width: 300px;
	height: 215px;
	margin: 20px 30px 20px 0;
}

.last-graphic-block {
	width: 300px;
	height: 215px;
	margin: 20px 0px 20px 0;
}

.graphic-title {
	height: 20px;
	width: 300px;
	text-align: center;
	padding: 5px 0 0 0;
	color: #FFF;
	font-weight: bold;
}

.graphic-content {
	width: 280px;
	padding: 10px;
}


.inleiding-block {
	width: 960px;
	margin: auto;
}

.inleiding-title {
	height: 20px;
	padding: 10px 0;
	text-align: center;
	font-size: 15pt ;
	font-weight:bold;
	color: #FFF;
}

.inleiding-content-left {
	float: left;
	width: 820px;
	margin: 10px;
	color: #FFF;
	text-align: justify;
}

.inleiding-content-right {
	float: right;
	width: 110px;
	height: 110px;
	margin: 10px 10px 10px 0;
	background: url(../images/inkomsten/inkomsten-inleiding-pic.png) no-repeat;

}

/*Inkomsten content*/

.inkomsten-content {

}

.inkomsten-title {
	background: #27AE60;
}

.inkomsten-block {
	background: #2ECC71;
}

/*consumetnen content*/

.consumenten-content {

}

.consumenten-title {
	background: #D35400;
}

.consumenten-block {
	background: #E67E22;
}

/*bezuinigingen content*/

.bezuinigingen-title {
	background: #2980B9;
}

.bezuinigingen-block {
	background: #3498DB;
}


/*bevolking content*/

.bevolking-title {
	background: #C0392B;
}

.bevolking-block {
	background: #E74C3C;
}

/*financieel content*/

.financieel-title {
	background: #F39C12;
}

.financieel-block {
	background: #F1C40F;
}


/*discussie content*/

.discussie-title {
	background: #27AE60;
}

.discussie-block {
	background: #2ECC71;
}




/* #Tablet (portrait)
======================= */
/*
@media only screen and (min-width: 768px) and (max-width: 959px) {

.content-container {
	width: 740px;
}

.header-nav {
	margin: 0 0  0 200px;
}

.overzicht-sub-header ul li {
	padding: 9px 2px;
}

}

*/
/* #Mobile (Landscape)
======================= */
 /*@media only screen and (min-width: 480px) and (max-width: 767px) {
	
.content-container {
	width: 450px;
}

.overzicht-sub-header ul li {
	display: block;
	width: 100%;
	text-align: center;
}

.overzicht-sub-header {
	height: auto;
}

.header-nav {
	margin: 0;
}

.header-nav ul li {
	margin: 0 5px;
}

.overzicht-sub-header {
	top: 80px;
}

.header-container {
	height: 80px;
}

.header-search {
	margin: 10px 140px 10px 0px;
}

}
*/
/* #Mobile (portrait)
======================= */
/* @media only screen and (min-width: 300px) and (max-width: 479px) {
 	
.content-container {
	width: 300px;
}

}*/
