/*Script file part of FinGraphic copyright Peter van der Meulen and Pico Reclame 2013. Planning on using the contents of my work? contact me at www.github.com/amonfog*/

/*Basic Elements*/
html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: 'Droid Sans', sans-serif;
}

.cleardiv {
	clear:both;
}

.block {
	float:left;
}

.main-container {
	width:100%;
}

.content-container {
	width: 960px;
	margin: 0 auto;
}

.relative-container {
	position: relative;
}

.fixed-container {
	position: fixed;
	z-index: 1000
}

/*header*/
.header-container {
	height:40px;
	background: #2ecc71;
	top:0;
}

.header-logo {
	padding: 2.5px 0 ;
}

.header-nav {
	margin: 0 0  0 290px;
	color: #FFF;
	font-family: 'Montserrat', sans-serif;
	font-size: 10pt;
	font-weight: bold;

}

.header-nav a {
	color: #FFF;
	text-decoration: none;
}

.header-nav a:hover {
	color: #27AE60;
}

.header-nav ul {
	padding: 0;
	margin: 0;
	list-style-type:none; 
}

.header-nav ul li {
	float:left;
	text-align: center;
	width: 80px;
	margin:0 20px;
	padding: 12px 0;
	height: 16px;
}

.nav-active {
	background: url(../images/header/nav-active.png) top repeat-x #27AE60;
}

.header-search {
	float: right;
	margin: 10px 0;
}

.header-search-text {
	width: 150px;
	height: 20px;
	border: 0;
	padding: 0 5px;
	background: #FFF;
	font-size: 10pt;
	font-family: 'Montserrat', sans-serif;
	color:#27AE60;
	font-weight: bold;

}

.header-search-submit {
	width: 20px;
	height: 20px;
	border: 0;
	padding: 0;
	background: url(../images/header/search-bar.png) no-repeat right;
	cursor: pointer;

}

input:focus {
	outline: 0;
}

.overzicht-sub-header {
	background: #27AE60;
	height: 30px;
	top:40px;
	color: #FFF;
	font-family: 'Montserrat', sans-serif;
	font-size: 10pt;
}


.overzicht-sub-header ul {
	list-style-type: none; /*to remove bullets*/
    text-align:justify;
}

.overzicht-sub-header ul li {
	display:inline-block;
	padding:9px 5px;
}

.overzicht-sub-header ul:after { 
	content:' '; 
	display:inline-block; 
	width: 100%;
}

.subnav-active {
	background: #FFF;
	color: #27AE60;
}

.overzicht-sub-header a {
	color: #FFF;
	text-decoration: none;
}

.subnav-active a {
	color: #27AE60;
}

.overzicht-sub-header a:hover {
	color: #2ECC71;
}

/* #Tablet (portrait)
======================= */

@media only screen and (min-width: 768px) and (max-width: 959px) {

.content-container {
	width: 740px;
}

.header-nav {
	margin: 0 0  0 200px;
}

}


/* #Mobile (Landscape)
======================= */
 @media only screen and (min-width: 480px) and (max-width: 767px) {
	
.content-container {
	width: 450px;
}

}

/* #Mobile (portrait)
======================= */
 @media only screen and (min-width: 300px) and (max-width: 479px) {
 	
.content-container {
	width: 300px;
}

}
